.table-container{
	width: 100%;
}
.table-class{
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-class thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.table-class th,
.table-class td {
    padding: 12px 15px;
}

.table-class tbody tr {
	border-bottom: 1px solid #dddddd;
}


.table-class tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table-class tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.table-class tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.table-title h2{
	text-align: center;
}

.row_class{
	background-color: #84c4b7 !important;
}

.modal {
	position: absolute;
	left: 0;
	top: 20px;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	height: 50px;
	width:  100px;
}

.modal-body{
	padding: 0px;
}

ul{
	padding: 0px;
}

li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color:#F68026;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

li {
	text-align: center;
	height: 50%;
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

li:hover {
	background-color: rgb(179, 255, 0);
}

.active{
	background-color: rgb(179, 255, 0);
}

.green{
	background-color: greenyellow;
}

.red{
	background-color: red;
}